blinker==1.6.2
certifi==2024.7.4
chardet==4.0.0
charset-normalizer==2.1.1
click==8.1.7
clickclick==20.10.2
colorama==0.4.6
cython==3.0.0
et-xmlfile==1.1.0
Flask==2.3.3
Flask-Cors==4.0.2
Flask-JWT-Extended==4.4.3
Flask-SQLAlchemy==2.5.1
greenlet==3.1.1
idna==2.10
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
numpy==1.26.4
openpyxl==3.1.2
pandas==1.5.3
plotly==5.13.1
psycopg2-binary
PyJWT==2.6.0
python-dateutil==2.8.2
pytz==2022.7.1
PyYAML==6.0.1
requests==2.25.1
sentry-sdk==2.22.0
six==1.16.0
SQLAlchemy==1.4.18
tenacity==8.2.2
tqdm==4.66.1
urllib3==1.26.11
Werkzeug==3.0.4
dotenv